* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

input, button {
  border: 0;
  outline: 0;
}

section {
  min-height: 100vh;
  min-width: 100vw;
}

[hidden] {
  display: none!important;
}
